@import "variables";
/* --- Body et fixed backgrounds --- */
body{
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	cursor: default;
}

.fixed_background{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* --- Séparation des sections --- */
.division_couleurs{
	display: flex;
	flex-direction: row;

	height: 5vh;
	max-width: 100vw;
	background-color: teal;

	div{
		height: 100%;
		width: 33.3vw;
		background-color: $cGris;
	}
}

.div_couleur:first-child{
	background-color: $cRose;
}

.div_couleur:last-child{
	background-color: $cTurquoise;
}

/* --- Header --- */
#body_accueil header{
	display: flex;
	flex-direction: column;

	height: 90vh;
	max-width: 100vw;
	background: linear-gradient($cBleuFonce, $cBleuFonce),
	url(../img/img_background1.jpg);
	background-blend-mode: multiply;

	div{
		height: 20%;
		margin-top: 20%;
		text-align: center;
		z-index: 2;

		h1{
			height: 50%;
			margin-bottom: 90px;
		}
	}
}

/* --- Main contenu --- */
#body_accueil main{
	height: 155vh;
	max-width: 100vw;

	display: flex;
	align-content: center;
	background: linear-gradient($cGris, $cGris),
	url(../img/main2.jpg);
	background-blend-mode: lighten;

	#grille_projets{
		display: flex;
		flex-direction: column;
		margin-top: 0;
		
		height: $hauteurGrille;
		width: 100%;

		.grille_rangee{
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			height: 50%;
			width: 100%;
			margin-top: 10vh;

			div{
				height: $projetHauteur / 3;
				width: 100%;
				/*border: 2px solid white;*/
				text-align: center;
				margin: 0;
				cursor: pointer;

				background: url(../img/img_cours1.png);
			    background-repeat: no-repeat;
			    background-size: cover;

				h2{
					color: $cBlanc;
					line-height: 150%;
				}

				h2, h4{
					text-shadow: 0 0 5px $cNoir;
				}
			}
		}
	}
}



/* --- Footer --- */
#body_accueil footer{
	display: flex;
	flex-direction: column;

	height: 60vh;
	max-width: 100vw;
	background: linear-gradient(opacify($cBleuFonce, $headerFade), opacify($cBleuFonce, $headerFade)),
	url(../img/img_background1.jpg);
	background-blend-mode: multiply;

	/* --- Conteneur texte et médias sociaux --- */
	div:first-child{
		display: flex;
		flex-direction: column;
		align-self: center;
		width: 90%;
		height: 90%;

		p{
			display: flex;
			align-items: center;

			width: 100%;
			height: 80%;
			text-align: center;
			vertical-align: center;
		}

		#medias_sociauxPetit{
			display: flex;
			flex-direction: row;
			align-self: center;

			height: 20%;
			width: 90px;
			margin: 0 auto;

			a{
				padding: 2%;
				height: 100%;
			}
		}

		#medias_sociauxGrand{
			display: none;
		}
	}

	#footer_copyright{
		margin-left: 2%;
	}
}

/* === Média: Tablette (640px) === */
@media(min-width: 640px){
/* --- Header --- */
#body_accueil header{
	height: 95vh;

	div{
		height: 40%;
		margin-top: 15%;

		h1{
			height: 50%;
			margin-bottom: 1vw;
		}
	}
}

/* --- Main contenu --- */
#body_accueil main{
	height: 100vh;
	max-width: 100vw;

	display: flex;
	align-content: center;
	$opacite: $mainFade;
	background: linear-gradient($cGris, $cGris),
	url(../img/main2.jpg);
	background-blend-mode: lighten;

	#grille_projets{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		margin-top: 5vw;
		
		height: $hauteurGrille;
		width: 100%;

		.grille_rangee{
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			align-self: center;
			align-content: center;
			margin-top: 0;

			height: 50%;
			width: 100%;

			div{
				height: $projetHauteur * 0.8;
				width: $projetLargeur;
				/*border: 2px solid white;*/
				text-align: center;
				margin: 1%;
				transition: box-shadow 0.5s;

				background: url(../img/img_cours1.png);
			    background-repeat: no-repeat;
			    background-size: cover;

				h2{
					margin-top: 8vh;
					color: $cBlanc;
					line-height: 150%;
				}
			}
		}
	}
}

/* --- Footer --- */
#body_accueil footer{
	height: 60vh;

	/* --- Conteneur texte et médias sociaux --- */
	div:first-child{
		display: flex;
		flex-direction: column;
		align-self: center;
		width: 60%;
		height: 85%;

		p{
			width: 60vw;
			height: 70%;
		}

		#medias_sociauxGrand{
			display: flex;
			flex-direction: row;
			align-self: center;

			height: 20%;
			width: 142px;
			margin: 0 auto;

			a{
				padding: 2%;
				height: 100%;
			}

			a:hover{
				background-color: $cRose;
			}

			a:first-child:hover, a:last-child:hover{
				background-color: $cTurquoise;
			}
		}

		#medias_sociauxPetit{
			display: none;
		}
	}

	#footer_copyright{
		margin-left: 2%;
	}
}
}

/* === Média: Tablette Breakpoint (1071px) === */
@media(min-width: 1071px){
#body_accueil header h1{
	margin-bottom: 5vw;
}
}

/* === Média: Écran (1280px +) === */
@media(min-width: 1280px){
/* --- Header --- */
#body_accueil header{
	height: 95vh;

	div{
		height: 20%;
		margin-top: 12.5%;

		h1{
			height: 50%;
			margin-bottom: 5vw;
		}
	}
}

/* --- Main contenu --- */
#body_accueil main{
	height: 95vh;

	#grille_projets{
	width: 80%;

		.grille_rangee{
			height: 50%;
			width: $projetLargeur * 3;

			div{
				height: 90%;
				width: $projetLargeur;
			}
		}
	}
}
}