/* === Style commun === */
/* --- Style général --- */
@import "_variables";


/* == Mobile == */
#body_projet{
	background: linear-gradient($cGris, $cGris),
	url(../img/main2.jpg);
	background-blend-mode: lighten;
}

#body_projet header{
	width: 100vw;
	height: 6vh;
	padding-bottom: 5vh;
	background-color: transparentize($cBleuFonce, 0.05);
	display: flex;
	flex-direction: column;

	h3{
		max-width: 50%;
		height: 100%;
		line-height: 100%;
		align-self: flex-end;
		vertical-align: center;
		text-align: right;
		margin-right: 2vw;
	}
}

#body_projet main{
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100%;

	#contenu_texte{
		display: flex;
		flex-direction: column;
		max-width: 100vw;
		height: 60%;
		background-color: transparentize($cBlanc, 0.2);
		padding: 2%;
		text-align: justify;
		margin: 5% 0 5% 0;

		background-blend-mode: multiply;

		h2{
			margin-top: 5%;
			margin-bottom: 3%;
		}

		h4{
			color: $cBleuFonce;
			margin-top: 1%;
			margin-bottom: 3%;
		}

		p{
			color: $cBleuFonce;
			max-width: 90%;
		}
	}

	/* --- Séparation des sections --- */
	.division_couleurs{
		display: flex;
		flex-direction: row;

		height: 4vh;
		width: 100%;

		div{
			height: 100%;
			width: 33.3%;
			background-color: $cGris;
		}
	}

	.div_couleur:first-child{
		background-color: $cRose;
	}

	.div_couleur:last-child{
		background-color: $cTurquoise;
	}

	#contenu_images{
		display: block;
		align-self: flex-start;
		width: 100%;
		height: 80%;
		overflow: scroll;
		margin-bottom: 5%;

		#conteneur_images{
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			align-self: center;
			margin: 0 auto;
			padding-top: 5vh;
			padding-bottom: 5vh;
			background-color: transparentize($cBlanc, 0.2);
			
			img{
				align-self: center;
				align-content: center;
				width: 90%;
				height: auto;
			}

			p{
				width: 100%;
				height: 80%;
				color: $cBleuFonce;
				text-align: center;
			}
		}
	}
}

#body_projet footer{
	width: 100vw;
	height: 5vh;
	padding: 1vh 0 2vh 0;
	background-color: transparentize($cBleuFonce, 0.05);
	display: flex;
	flex-direction: row;

	#footer_copyright{
		width: 75%;
		margin-left: 2vw;
	}

	div{
		flex-direction: row;
		align-self: flex-end;

		height: 20%;
		width: 140px;
		margin-bottom: 5%;

		a{
			align-content: center;
			align-self: center;
			vertical-align: center;
			height: 100%;
			margin-left: 2%;
		}
	}

	#medias_sociauxGrand{
		display: none;
	}

	#medias_sociauxPetit{
		display: flex;
	}
}

/*== Tablette ==*/

@media(min-width: 1024px){

#body_projet main{
	flex-direction: row;
	width: 100vw;
	height: 75%;

	#contenu_texte{
		width: 375px;
		min-height: 96vh;
		margin: 0;
		padding-bottom: 0;

		h2{
			margin-top: 1%;
			margin-bottom: 3%;
		}

		h4{
			margin-top: 1%;
			margin-bottom: 3%;
		}

		p{
			max-width: 100%;
		}
	}

	/* --- Séparation des sections --- */
	.division_couleurs{
		display: flex;
		flex-direction: column;

		height: 100vh;
		width: 2vw;

		div{
			height: 33.3vh;
			width: 100%;
		}
	}

	#contenu_images{
		width: 75%;
		height: 100vh;
		margin: 0;

		#conteneur_images{
			width: 80%;
			padding: 0;
			
			img{
				width: 80%;
			}

			p{
				width: 100%;
				height: 80%;
				text-align: center;
			}
		}
	}
}

#body_projet footer{
	height: 5vh;
	padding-bottom: 2vh;

	#footer_copyright{
		width: 85%;
	}

	div{
		height: 100%;
		padding: 0;
		margin: 0;
	}

	#medias_sociauxGrand{
		display: flex;
	}

	#medias_sociauxPetit{
		display: none;
	}
}
}