/* === Variables LESS ===*/
/* --- Couleurs site --- */
$cBlanc: hsla(0,0%,100%,1); /*#ffffff*/
$cBleuFonce: hsla(217,67%,16%,1); /*#0e2447*/
$cTurquoise: hsla(186,84%,32%,1); /*#0d8896*/
$cRose: hsla(339,77%,41%,1); /*#ba1850*/
$cGris: hsla(0,0%,73%,1); /*#bcbcbc*/
$cNoir: hsla(0,0%,0%,1); /*#000000*/
/* --- Couleurs projets --- */
$cJaune: hsla(49,83%,45%,1);
$cMauve:hsla(277,82%,35%,1);
$cVert:hsla(155,100%,44%,1);
/* --- Paramètres d'opacité --- */
$headerFade: 0.99;
$mainFade: 0.7;
/* --- Dimensions --- */
$projetLargeur: 425px;
$projetHauteur: $projetLargeur * 0.82;
/* --- Dimensions --- */
$h1Size: 10rem; /*$h1Size: 124px;*/
$h2Size: 2.75rem; /*$h2Size: 42px;*/
$h3Size: 2rem; /*$h3Size: 32px;*/
$h4Size: 1.75rem; /*$h4Size: 24px;*/
$pSize: 1.25rem; /*$pSize: 18px;*/

/* --- Body et fixed backgrounds --- */
body{
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	cursor: default;
}

.fixed_background{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
}

/* --- Polices --- */
/* === Média: Mobile (150px) === */
/* --- Polices --- */
h1{ /* Titre page accueil */
	font-size: $h1Size / 2.2;
	font-family: 'Oswald', sans-serif;
	z-index: 3;
	font-weight: bold;
	color: $cBlanc;
}

h2{ /* Titre projets page accueil */
	font-size: $h2Size / 2.2;
	font-family: 'Bree Serif', serif;
	font-weight: normal;
	color: $cRose;
}

h3{ /* Header page projet */
	font-size: $h3Size / 1.5;
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	color: $cBlanc;
}

h4{ /* Sous-titres projets page accueil / Titre projets page projet */
	font-size: $h4Size / 1.5;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: 500;
	color: $cBlanc;
}

p{  /* Footer / texte projets */
	font-size: $pSize / 1.75;
	font-family: 'Merriweather Sans', sans-serif;
	color: $cBlanc;
}

a, a:link, a:visited, a:active{
	color: $cBlanc;
	text-decoration: none;
}

/* === Média: Tablette (640px) === */
@media(min-width: 640px){
/* --- Polices --- */
h1{ /* Titre page accueil */
	font-size: $h1Size * 0.57;
}

h2{ /* Titre projets page accueil */
	font-size: $h2Size * 0.85;
}

h3{ /* Header page projet */
	font-size: $h3Size * 0.85;
}

h4{ /* Sous-titres projets page accueil / Titre projets page projet */
	font-size: $h4Size * 0.85;
}

p{  /* Footer / texte projets */
	font-size: $pSize * 0.85;
}
}

/* === Média: Tablette Breakpoint (1071px) === */
@media(min-width: 1071px){
h1{ /* Titre page accueil */
	font-size: $h1Size;
}

h2{ /* Titre projets page accueil */
	font-size: $h2Size;
}

h3{ /* Header page projet */
	font-size: $h3Size;
}

h4{ /* Sous-titres projets page accueil / Titre projets page projet */
	font-size: $h4Size;
}

p{  /* Footer / texte projets */
	font-size: $pSize;
}
}

/* --- Box-shadow projets --- */
#grille_projets div:nth-child(3n+1){
	box-shadow: inset 0 0 0 1000px transparentize(darken($cBleuFonce, 0.2), 0.6), 15px 15px 30px transparentize($cNoir, 0.2);

	h2{
		background-color: darken($cBleuFonce, 10%);
	}
}

#grille_projets div:nth-child(3n+2){
	box-shadow: inset 0 0 0 1000px transparentize(darken($cTurquoise, 0.2), 0.6), 15px 15px 30px transparentize($cNoir, 0.2);

	h2{
		background-color: darken($cTurquoise, 10%);
	}
}

#grille_projets div:nth-child(3n+3){
	box-shadow: inset 0 0 0 1000px transparentize(darken($cRose, 0.2), 0.6), 15px 15px 30px transparentize($cNoir, 0.2);

	h2{
		background-color: darken($cRose, 10%);
	}
}

/* === Média: Tablette (640px) === */
@media(min-width: 640px){
#grille_projets div:nth-child(3n+1):hover{
	box-shadow: inset 0 0 0 1000px transparentize(darken($cBleuFonce, 0.2), 1), 5px 5px 15px transparentize($cNoir, 0.2);
}

#grille_projets div:nth-child(3n+2):hover{
	box-shadow: inset 0 0 0 1000px transparentize(darken($cTurquoise, 0.2), 1), 5px 5px 15px transparentize($cNoir, 0.2);
}

#grille_projets div:nth-child(3n+3):hover{
	box-shadow: inset 0 0 0 1000px transparentize(darken($cRose, 0.2), 1), 5px 5px 15px transparentize($cNoir, 0.2);
}
}