<!DOCTYPE html>
<html>
<head>
	<title>Frédéric Isabel - Portfolio personnel</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Merriweather+Sans|Oswald" rel="stylesheet">
	<script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body id="body_accueil">
	<header class="fixed_background">
		<div>
			<h1>FRÉDÉRIC ISABEL</h1>
			<br>
			<h2>Intégrateur Multimédia</h2>
		</div>
	</header>
	<div class="division_couleurs">
		<div class="div_couleur"></div>
		<div class="div_couleur"></div>
		<div class="div_couleur"></div>
	</div>
	<main class="fixed_background">
		<div id="grille_projets">
			<div id="rangee_1" class="grille_rangee">
				<div id="" class="div_rose">
					<h2>Titre projet</h2>
					<h4>Type de projet</h4>	
				</div>
				<div id="" class="div_gris">
					<h2>Titre projet</h2>
					<h4>Type de projet</h4>	
				</div>
				<div id="" class="div_turquoise">
					<h2>Titre projet</h2>
					<h4>Type de projet</h4>	
				</div>	
			</div>
			<div id="rangee_2" class="grille_rangee">
				<div id="" class="div_gris">
					<h2>Titre projet</h2>
					<h4>Type de projet</h4>	
				</div>
				<div id="" class="div_turquoise">
					<h2>Titre projet</h2>
					<h4>Type de projet</h4>	
				</div>
				<div id="" class="div_rose">
					<h2>Titre projet</h2>
					<h4>Type de projet</h4>	
				</div>	
			</div>
		</div>
	</main>
	<div class="division_couleurs">
		<div class="div_couleur"></div>
		<div class="div_couleur"></div>
		<div class="div_couleur"></div>
	</div>
	<footer class="fixed_background">
		<div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet suscipit nunc. Morbi pretium sed dui id hendrerit. Sed tincidunt varius cursus. Suspendisse eu ultricies nulla. Maecenas eu ipsum ex. Nunc lacinia gravida nunc et suscipit
				<br><br>
				Morbi in viverra massa. Morbi tincidunt, velit ut placerat luctus, nisl tellus luctus neque, vel dignissim est ipsum id neque. Phasellus eu urna eget.
			</p>
			<div id="medias_sociauxPetit">
				<a href=""><i class="fas fa-envelope-square fa-2x" color="white"></i></a>
				<a href="https://www.flickr.com/photos/154696784@N04"><i class="fab fa-flickr fa-2x" color="white""></i></a>
				<a href=""><i class="fab fa-linkedin fa-2x" color="white""></i></a>
			</div>
			<div id="medias_sociauxGrand">
				<a href=""><i class="fas fa-envelope-square fa-3x" color="white"></i></a>
				<a href="https://www.flickr.com/photos/154696784@N04"><i class="fab fa-flickr fa-3x" color="white""></i></a>
				<a href=""><i class="fab fa-linkedin fa-3x" color="white""></i></a>
			</div>
		</div>
		<p id="footer_copyright">&#169;2018 - Frédéric Isabel</p>
	</footer>
	<!-- <script src="js/script.js" type="text/javascript"></script> -->
</body>
</html>