<!DOCTYPE html>
<html>
<head>
	<title>{{ site.title }} / {{ page.title }}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/style.css"/>
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif|Merriweather+Sans|Oswald" rel="stylesheet">
	<script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body id="body_projet">
	<header>
		<h3><a href="{{ site.baseurl }}">{{ site.author }}</a></h3>
	</header>
	<main>
		<div id="contenu_texte">
			<h2>{{ page.title }}</h2>
			<h4>{{ page.type }}</h4>
			{{ page.content }}
		</div>
		<div class="division_couleurs">
			<div class="div_couleur"></div>
			<div class="div_couleur"></div>
			<div class="div_couleur"></div>
		</div>
		<div id="contenu_images">
			<div id="conteneur_images">
				<div id="" class="image_projet"></div>
				<div id="" class="image_projet"></div>
			</div>
		</div>
	</main>
	<footer>
		<p id="footer_copyright"></p>
		<div id="medias_sociauxPetit">
				<a href=""><i class="fas fa-envelope-square fa-2x" color="white"></i></a>
				<a href="https://www.flickr.com/photos/154696784@N04"><i class="fab fa-flickr fa-2x" color="white""></i></a>
				<a href=""><i class="fab fa-linkedin fa-2x" color="white""></i></a>
			</div>
		<div id="medias_sociauxGrands">
			<a href=""><i class="fas fa-envelope-square fa-3x" color="white"></i></a>
			<a href="https://www.flickr.com/photos/154696784@N04"><i class="fab fa-flickr fa-3x" color="white""></i></a>
			<a href=""><i class="fab fa-linkedin fa-3x" color="white""></i></a>
		</div>
	</footer>
	<!-- <script src="js/script.js" type="text/javascript"></script> -->
</body>
</html>